<section class="hero">
	<!--
	<video autoplay muted loop class="hero__bgvideo">
		<source src="/template/img/hero-bg1.mp4" type="video/mp4" />
	</video>
	-->
	<div class="hero__container">
		<div class="hero__main">
			<h1 class="hero__title">
				{{{translate("Template.The perfect online menu for your business is already prepared")}}}
			</h1>
		</div>

		<a href="https://instagram.com/wawify">
			<div class="hero__img">
			</div>
		</a>
	</div>
</section>

<section class="features">
	<div class="features__container">
		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/templates.svg" alt="Templates" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Еxploitation")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.Allow your clients to see online your menu, the one which currently is available based on your kitchen")}}}
				</p>
			</div>
		</div>
		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/templates.svg" alt="Templates" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Menu themes")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.There is possibility of use one of many themes to put your products on your QR Menu")}}}
				</p>
			</div>
		</div>
		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/buying.svg" alt="Buying" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Support")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.Our platform offers a convenient business support with your social network, which will increase joy of your clients")}}}
				</p>
			</div>
		</div>
		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/designs.svg" alt="Your designs" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Your designs")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.We provide the opportunity to upload your unique themes to our platform and use them on your Menu or sell it to other businesses")}}}
				</p>
			</div>
		</div>
		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/safety.svg" alt="Safety" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Safety and Reliability")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.We prioritize the security of your client payment. Our platform utilizes advanced encryption technologies to protect user information")}}}
				</p>
			</div>
		</div>
	</div>
</section>

<section class="ecosystem">
	<h2 class="ecosystem__title">
		{{{translate("Template.Perfect ecosystem for all Food Industry business")}}}
	</h2>
	<div class="ecosystem__container">
		<div class="ecosystem-item">
			<img src="/template/img/ecosystem/1.jpg">
			<div class="ecosystem-item__info">
			   <h3>{{{translate("Template.Restaurants")}}}</h3>
			   <p class="ecosystem-item__text">
			  	  {{{translate("Template.Develop a restaurant website or landing page featuring a touchless menu to enhance guest engagement and boost sales for your business. Utilize technology to streamline operations, reduce staffing needs, and facilitate in-house delivery through the website.")}}}
			   </p>
		    </div>
		</div>

		<div class="ecosystem-item">
			<img src="/template/img/ecosystem/2.jpg">
			<div class="ecosystem-item__info">
			   <h3>{{{translate("Template.Cafes")}}}</h3>
			   <p class="ecosystem-item__text">
				{{{translate("Template.Enhance team efficiency, raise average transaction values, boost profits, and establish a proprietary delivery and pickup system free from commissions.")}}}
			   </p>
		    </div>
		</div>

		<div class="ecosystem-item">
			<img src="/template/img/ecosystem/3.jpg">
			<div class="ecosystem-item__info">
			   <h3>{{{translate("Template.Bars")}}}</h3>
			   <p class="ecosystem-item__text">
				{{{translate("Template.Showcase beverages and cocktails through embedded videos in the digital menu card, enable QR code ordering and payment, and gather customer reviews. This approach cuts costs and enhances revenue generation.")}}}
			   </p>
		    </div>
		</div>

		<div class="ecosystem-item">
			<img src="/template/img/ecosystem/4.jpg">
			<div class="ecosystem-item__info">
			   <h3>{{{translate("Template.Hotels")}}}</h3>
			   <p class="ecosystem-item__text">
				{{{translate("Template.Enhance the efficiency of room service orders, increase revenue and average transaction values, refine feedback management, and foster guest loyalty. Minimize human errors in service for an improved overall experience.")}}}
		  	   </p>
		    </div>
		</div>

		<div class="ecosystem-item">
			<img src="/template/img/ecosystem/5.jpg">
			<div class="ecosystem-item__info">
			   <h3>{{{translate("Template.Food Supplier")}}}</h3>
			   <p class="ecosystem-item__text">
				{{{translate("Template.A culinary ingredient supplier offers a wide array of high-quality ingredients for kitchens in the food industry. As a reliable source, they contribute to streamlining operations, enhancing menu offerings, and ensuring a consistent supply of top-notch ingredients for culinary establishments.")}}}
			   </p>
		    </div>
		</div>

		<div class="ecosystem-item">
			<img src="/template/img/ecosystem/6.jpg">
			<div class="ecosystem-item__info">
			   <h3>{{{translate("Template.Equipment Supplier")}}}</h3>
			   <p class="ecosystem-item__text">
				{{{translate("Template.A key ally for culinary ventures, our commercial kitchen equipment supplier offers cutting-edge tools and appliances for efficient food preparation. Committed to quality and innovation, we empower kitchens with the latest, reliable equipment—from cooking appliances to refrigeration solutions, elevating functionality and productivity.")}}}
			   </p>
		    </div>
		</div>
	</div>
</section>

<section class="themes">
	<div class="themes__container">
		<div class="themes__header">
			<h2 class="themes__title title">{{{translate("Template.Themes")}}}</h2>
		</div>
		<p class="themes__text">
			{{{translate("Template.Choose a theme that will give your menu a clean and modern look, allowing your products to appear more appealing and capture customers' attention")}}}
		</p>

		<div class="themes__slider themes-slider swiper">
			<div class="themes-slider__wrapper swiper-wrapper">
				{% for theme in themes %}
				<div class="themes-slider__slide themes-slide swiper-slide">
					<a href="https://{{{theme.folder || theme.id}}}.foodin.ca">
						<img src="{{{theme.thumb}}}" alt="{{{theme.name}}}" />
						<span class="themes-slide__subtitle">
							{{{theme.name}}}
						</span>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<a href="/themes" class="themes__find-more">{{{translate("Template.View all")}}}</a>
	</div>
</section>

<section class="benefits">
	<h2 class="benefits__title">
		{{{translate("Template.Features which can improve your business")}}}
	</h2>
	<div class="benefits__container">
		<div class="benefits-item">
			<div class="benefits-item__info">
			   <h3>{{{translate("Template.Online menu")}}}</h3>
			   <p class="benefits-item__text">
			   	{{{translate("Template.Our innovative online menu provides real-time visibility into the available dishes, allowing customers to see exactly what can be prepared at any given moment. This dynamic feature ensures a seamless and informed ordering experience, with the flexibility to remove items instantly if ingredients are temporarily unavailable.")}}}
			   </p>
			   <ul>
			   	   <li>{{{translate("Template.Live Inventory Updates")}}}</li>
			   	   <li>{{{translate("Template.Instant Removal of Unavailable Items")}}}</li>
			   	   <li>{{{translate("Template.Accessible Anytime")}}}</li>
			   	   <li>{{{translate("Template.Powerfull Suggestions")}}}</li>
			   	   <li>{{{translate("Template.Enhanced Customer Experience:")}}}</li>
			   	   <li>{{{translate("Template.Efficient Ordering")}}}</li>
			   	   <li>{{{translate("Template.Dynamic and Adaptable")}}}</li>
			   </ul>
		    </div>
			<img src="/template/img/benefits/1.jpg">
		</div>
		<div class="benefits-item">
			<div class="benefits-item__info">
			   <h3>{{{translate("Template.Business Website")}}}</h3>
			   <p class="benefits-item__text">
				   {{{translate("Template.Elevate your online presence with our themes business website, uniquely tailored to showcase your brand. With a personalized domain and meticulously configured SEO settings, we ensure that your business not only stands out but also ranks high on search engines, social networks, and local directories.")}}}
			   </p>
			   <ul>
				   <li>{{{translate("Template.Custom Design")}}}</li>
				   <li>{{{translate("Template.Personalized Domain")}}}</li>
				   <li>{{{translate("Template.SEO Excellence")}}}</li>
				   <li>{{{translate("Template.Social Media Harmony")}}}</li>
				   <li>{{{translate("Template.Google Place Perfection")}}}</li>
				   <li>{{{translate("Template.Effortless Sharing")}}}</li>
				   <li>{{{translate("Template.Streamlined Communication")}}}</li>
			   </ul>
		    </div>
			<img src="/template/img/benefits/2.jpg">
		</div>
		<div class="benefits-item">
			<div class="benefits-item__info">
			   <h3>{{{translate("Template.Communication with Client")}}}</h3>
			   <p class="benefits-item__text">
			   	{{{translate("Template.Our platform prioritizes the vital communication link between your business and customers through a robust reviews feature. Easily collect and manage customer feedback, fostering a dynamic and responsive interaction that contributes to the continual improvement of your services.")}}}
			   </p>
			   <ul>
			   	   <li>{{{translate("Template.Effortless Feedback Collection")}}}</li>
			   	   <li>{{{translate("Template.Responsive Interaction")}}}</li>
			   	   <li>{{{translate("Template.Real-time Notifications")}}}</li>
			   	   <li>{{{translate("Template.Positive Reputation Building")}}}</li>
			   	   <li>{{{translate("Template.Issue Resolution")}}}</li>
			   	   <li>{{{translate("Template.Continuous Improvement")}}}</li>
			   	   <li>{{{translate("Template.Customer Appreciation")}}}</li>
			   	   <li>{{{translate("Template.Enhanced Trust")}}}</li>
			   </ul>
		    </div>
			<img src="/template/img/benefits/3.jpg">
		</div>
		<div class="benefits-item">
			<div class="benefits-item__info">
			   <h3>{{{translate("Template.Delivery and Takeaway")}}}</h3>
			   <p class="benefits-item__text">
			   	{{{translate("Template.Elevate convenience for your customers with our hassle-free delivery and takeaway services. Whether they prefer to enjoy your offerings from the comfort of their home or on the go, our platform ensures a smooth and efficient experience, contributing to increased customer satisfaction.")}}}
			   </p>
			   <ul>
			   	   <li>{{{translate("Template.Effortless Ordering")}}}</li>
			   	   <li>{{{translate("Template.Prompt Delivery")}}}</li>
			   	   <li>{{{translate("Template.Customizable Options")}}}</li>
			   	   <li>{{{translate("Template.Real-time Order Tracking")}}}</li>
			   	   <li>{{{translate("Template.Secure Payment Options")}}}</li>
			   	   <li>{{{translate("Template.Contactless Delivery")}}}</li>
			   	   <li>{{{translate("Template.Promotional Deals")}}}</li>
			   </ul>
		    </div>
			<img src="/template/img/benefits/4.jpg">
		</div>
		<div class="benefits-item">
			<div class="benefits-item__info">
			   <h3>{{{translate("Template.Order Placement and Secure Payment")}}}</h3>
			   <p class="benefits-item__text">
			   	{{{translate("Template.Simplify the customer journey with our streamlined order and payment feature. From browsing the menu to completing transactions, our platform ensures a seamless experience, providing convenience and security for your valued patrons.")}}}
			   </p>
			   <ul>
			   	   <li>{{{translate("Template.Intuitive Order Placement")}}}</li>
			   	   <li>{{{translate("Template.Quick Checkout")}}}</li>
			   	   <li>{{{translate("Template.Secure Payment Gateways")}}}</li>
			   	   <li>{{{translate("Template.Multiple Payment Options")}}}</li>
			   	   <li>{{{translate("Template.Order Confirmation")}}}</li>
			   	   <li>{{{translate("Template.Order History and Favorites")}}}</li>
			   	   <li>{{{translate("Template.Transparent Pricing")}}}</li>
			   	   <li>{{{translate("Template.Promotions and Discounts")}}}</li>
			   </ul>
		    </div>
			<img src="/template/img/benefits/5.jpg">
		</div>
		<div class="benefits-item">
			<div class="benefits-item__info">
			   <h3>{{{translate("Template.Own Masterpiece")}}}</h3>
			   <p class="benefits-item__text">
			   	{{{translate("Template.Unleash your inner chef with our curated collection of cooking recipes. Designed for both novice and seasoned cooks, these recipes are a celebration of flavors, creativity, and simplicity. From mouthwatering appetizers to delectable main courses, embark on a culinary journey and discover the joy of crafting delicious dishes right in your own kitchen.")}}}
			   </p>
			   <ul>
			   	   <li>{{{translate("Template.Diverse Selection")}}}</li>
			   	   <li>{{{translate("Template.Accessible Ingredients")}}}</li>
			   	   <li>{{{translate("Template.Step-by-Step Guides")}}}</li>
			   	   <li>{{{translate("Template.Time-Efficient")}}}</li>
			   	   <li>{{{translate("Template.Visual Appeal")}}}</li>
			   	   <li>{{{translate("Template.Share Your Creations")}}}</li>
			   	   <li>{{{translate("Template.Endless Inspiration")}}}</li>
			   	   <li>{{{translate("Template.Cook with Confidence")}}}</li>
			   </ul>
		    </div>
			<img src="/template/img/benefits/6.jpg">
		</div>
	</div>
</section>

<section class="products">
	<div class="products__container">
		<div class="products__header">
			<h2 class="products__title title">{{{translate("Template.Recipes")}}}</h2>
			<a href="/recipes" class="products__find-more">{{{translate("Template.View all")}}}</a>

		</div>
		<p class="products__text">
			{{{translate("Template.Unleash your inner chef with this open-ended recipe that invites you to embark on a culinary adventure. Whether you're in the mood for a savory delight or a sweet sensation, the canvas is yours to paint. Choose from a diverse array of fresh, quality ingredients, and let your imagination guide you through the creative process. This recipe empowers you to experiment with flavors, tweak techniques, and tailor the dish to your unique preferences. The kitchen is your playground, and this recipe is your inspiration. Embrace the joy of creating and relish in the satisfaction of sharing a one-of-a-kind culinary masterpiece.")}}}
		</p>

		<div class="products__slider products-slider swiper">
			<div class="themes-slider__wrapper swiper-wrapper">
				{% for recipe in recipes %}
				<div class="recipes-item recipes-item-slider">
					<div class="recipes-item__img">
						<div class="recipes-item__favorites"></div>
						<a href="{{{recipe.url || '/recipe/' + recipe.id}}}" class="recipes-item__img-link">
							<img src="{{{recipe.thumb}}}" alt="{{{recipe.thumb}}}" />
						</a>
					</div>

					<h3 class="recipes-item__title">
						<a href="{{{recipe.url || '/recipe/' + recipe.id}}}" class="recipes-item__title-link">
							{{{recipe.name}}}
						</a>
					</h3>

					<div class="recipes-item__feature recipes-feature">
						<div class="recipes-feature__time">
							<div class="recipes-feature__time-img">
								<img src="/template/img/recipes/recipes-icons/time.svg" alt="time" />
							</div>
							<div class="recipes-feature__time-text">
								{{{recipe.cookingTime}}}
							</div>
						</div>
						<div class="recipes-feature__serving">
							<div class="recipes-feature__serving-img">
								<img src="/template/img/recipes/recipes-icons/serving.svg" alt="serving" />
							</div>
							<div class="recipes-feature__serving-text">
								{{{recipe.serving}}}
							</div>
						</div>
						<div class="recipes-feature__difficulty">
							{% if recipe.difficulty === 1 %}
							<div class="recipes-feature__difficulty-img">
								<img src="/template/img/recipes/recipes-icons/star-light.svg" alt="star" />
							</div>
							<div class="recipes-feature__difficulty-text">Light</div>
							{% endif %}
							{% if recipe.difficulty === 2 %}
							<div class="recipes-feature__difficulty-img">
								<img src="/template/img/recipes/recipes-icons/star-moderately.svg" alt="star" />
							</div>
							<div class="recipes-feature__difficulty-text">Moderately</div>
							{% endif %}
							{% if recipe.difficulty >= 3 %}
							<div class="recipes-feature__difficulty-img">
								<img src="/template/img/recipes/recipes-icons/star-difficult.svg" alt="star" />
							</div>
							<div class="recipes-feature__difficulty-text">Difficult</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<!--
	<section class="products">
		<div class="products__container">
			<div class="products__header">
				<h2 class="products__title title">{{{translate("Template.Products")}}}</h2>
				<a href="https://wawify.com/products" class="products__find-more">{{{translate("Template.View all")}}}</a>

			</div>
			<p class="products__text">
				{{{translate("Template.Take advantage of the opportunity to shop on our website, where you will find a wider selection and uniqueness thanks to convenient product filtering")}}}
			</p>

			<div class="products__slider products-slider swiper">
				<div class="themes-slider__wrapper swiper-wrapper">
					{% for product in products %}
					<div class="products-slider__slide products-slide swiper-slide">
						<a href="/product/{{{product.id}}}">
							<img src="{{{product.thumb}}}" alt="{{{product.name}}}" />
							<span class="products-slide__subtitle">
								{{{product.name}}}
							</span>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section class="articles">
		<div class="articles__container">
			<h2 class="articles__title title">{{{translate("Template.Blog")}}}</h2>
			<div class="articles__article article-card">
				<div class="article-card__img">
					<img src="{{{article.thumb}}}" alt="{{{article.name}}}" />
				</div>
				<div class="article-card__text">
					<span class="article-card__title">{{{article.name}}}</span>
					<p class="article-card__desc">{{{article.description}}}</p>
				</div>
				<a href="/article" class="article-card__link">{{{translate("Template.Read more")}}}</a>
			</div>

			<h3 class="articles__subtitle">{{{translate("Template.Recommended articles")}}}</h3>
			<div class="articles__slider articles-slider swiper">
				<div class="articles-slider__wrapper swiper-wrapper">

					{% for article in articles %}
					<a href="/article/{{{article.id}}}" class="articles-slider__slide articles-slide swiper-slide">
						<div class="articles-slide__img">
							<img src="{{{article.thumb}}}" alt="{{{article.name}}}" />
						</div>
						<span class="articles-slide__title">{{{article.name}}}</span>
					</a>
					{% endfor %}
				</div>
			</div>

			<a href="https://wawify.com/articles" class="articles__link">{{{translate("Template.View all articles")}}}</a>
		</div>
	</section>
-->

<section class="cta">
	<div class="cta__container">
		<h2 class="cta__title">
			{{{translate("Template.Upgrade your business with Food In Canada")}}}
		</h2>

		<p class="cta__text">
			{{{translate("Template.Try on a website theme that you like for your online menu")}}}
		</p>

		<form class="cta-form">
			<div class="cta-form__row">
				<input type="text" id="name" name="name" placeholder="Name" required>
				<input type="tel" id="phone" name="phone" placeholder="Phone" required>
				<input type="email" id="email" name="email" placeholder="Email" required>
				<textarea id="comments" name="comments" placeholder="Comments" rows="4"></textarea>
				<button type="submit">Connect with us</button>
			  </div>
		</form>
	</div>
</section>
