<section class="hero">
	<video autoplay muted loop class="hero__bgvideo">
		<source src="/template/img/hero-bg1.mp4" type="video/mp4" />
	</video>
	<div class="hero__container">
		<div class="hero__main">
			<h1 class="hero__title">
				{{{translate("Template.The perfect online store for your business is already prepared")}}}
			</h1>
		</div>

		<a href="https://instagram.com/wawify">
			<div class="hero__img">
			</div>
		</a>
	</div>
</section>

<!-- <section class="features">
	<div class="features__container">
		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/templates.svg" alt="Templates" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Site templates")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.Themes for websites that can quickly and easily transform into your store")}}}
				</p>
			</div>
		</div>
		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/buying.svg" alt="Buying" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Buying")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.Our platform offers a convenient search and filtering system that will help you purchase exactly what you're looking for")}}}
				</p>
			</div>
		</div>

		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/designs.svg" alt="Your designs" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Your designs")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.We provide the opportunity to upload your unique models to our platform and sell your creations at your own prices")}}}
				</p>
			</div>
		</div>

		<div class="features__item features-item">
			<div class="features-item__icon">
				<img src="/template/img/icons/feautures/safety.svg" alt="Safety" />
			</div>
			<div class="features-item__text">
				<h3 class="features-item__subtitle">{{{translate("Template.Safety and Reliability")}}}</h3>
				<p class="features-item__desc">
					{{{translate("Template.We prioritize the security of your purchases, sales, and exchanges. Our platform utilizes advanced encryption technologies to protect your personal information")}}}
				</p>
			</div>
		</div>
	</div>
</section>

<section class="themes">
	<div class="themes__container">
		<div class="themes__header">
			<h2 class="themes__title title">{{{translate("Template.Themes")}}}</h2>
		</div>
		<p class="themes__text">
			{{{translate("Template.Choose a template that will give your store a clean and modern look, allowing your products to appear more appealing and capture customers' attention")}}}
		</p>

		<div class="themes__slider themes-slider swiper">
			<div class="themes-slider__wrapper swiper-wrapper">
				{% for theme in themes %}
				<div class="themes-slider__slide themes-slide swiper-slide">
					<a href="/theme/{{{theme.id}}}">
						<img src="{{{theme.thumb}}}" alt="{{{theme.name}}}" />
						<span class="themes-slide__subtitle">
							{{{theme.name}}}
						</span>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<a href="/themes" class="themes__find-more">{{{translate("Template.View all")}}}</a>
	</div>
</section>

<section class="products">
	<div class="products__container">
		<div class="products__header">
			<h2 class="products__title title">{{{translate("Template.Products")}}}</h2>
			<a href="https://wawify.com/products" class="products__find-more">{{{translate("Template.View all")}}}</a>

		</div>
		<p class="products__text">
			{{{translate("Template.Take advantage of the opportunity to shop on our website, where you will find a wider selection and uniqueness thanks to convenient product filtering")}}}
		</p>

		<div class="products__slider products-slider swiper">
			<div class="themes-slider__wrapper swiper-wrapper">
				{% for product in products %}
				<div class="products-slider__slide products-slide swiper-slide">
					<a href="/product/{{{product.id}}}">
						<img src="{{{product.thumb}}}" alt="{{{product.name}}}" />
						<span class="products-slide__subtitle">
							{{{product.name}}}
						</span>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section> -->

<section class="articles">
	<div class="articles__container">
		<h2 class="articles__title title">{{{translate("Template.Blog")}}}</h2>
		<div class="articles__article article-card">
			<div class="article-card__img">
				<img src="{{{article.thumb}}}" alt="{{{article.name}}}" />
			</div>
			<div class="article-card__text">
				<span class="article-card__title">{{{article.name}}}</span>
				<p class="article-card__desc">{{{article.description}}}</p>
			</div>
			<a href="/article" class="article-card__link">{{{translate("Template.Read more")}}}</a>
		</div>

		<h3 class="articles__subtitle">{{{translate("Template.Recommended articles")}}}</h3>
		<div class="articles__slider articles-slider swiper">
			<div class="articles-slider__wrapper swiper-wrapper">
				
				{% for article in articles %}
				<a href="/article/{{{article.id}}}" class="articles-slider__slide articles-slide swiper-slide">
					<div class="articles-slide__img">
						<img src="{{{article.thumb}}}" alt="{{{article.name}}}" />
					</div>
					<span class="articles-slide__title">{{{article.name}}}</span>
				</a>
				{% endfor %}
			</div>
		</div>

		<a href="https://wawify.com/articles" class="articles__link">{{{translate("Template.View all articles")}}}</a>
	</div>
</section>

<div class="container">
<section class="order-manager">
	{% for agent in agents %}
		<div class="order_agent">
		<img src="https://webart.work{{{agent.thumb}}}" alt="" width="300px">
		<h3>{{{agent.name}}}</h3>
		{% if agent.data.phone %}
			<a href="tel:{{{agent.data.phone}}}">{{{agent.data.phone}}}</a>
		{% endif %}
	</div>
	<div class="order">
	{% for experience in agent.experiences %}
	<span title="{{{experience.descriptionua}}}">
	  <p>Послуга: {{{experience.nameua}}}</p>
	  {% if experience.pricehourlyuah %}
	  <p>Ціна:{{{experience.pricehourlyuah}}} грн/год.</p>
	  {% endif %}
	  {% endfor %}
	</span>
	</div>
	{% endfor %}
  </section>
</div>

<div class="container">
<div class="slider-container">
   <div class="slider-content">
	  <div class="slide">
	<div class="slide_text">Minor Sponsor</div>
	<div class="slide_text">500$ <br />per month</div>
	<div class="slide_text">Hire Part Time Developer</div>
	<button>Start</button>
	</div>
	  <div class="slide">
	<div class="slide_text">Minor Sponsor</div>
	<div class="slide_text">2000$ <br />per month</div>
	<div class="slide_text">Hire Full Time Developer</div>
	<button>Start</button>
	</div>
	<div class="slide">
	<div class="slide_text">Partner</div>
	<div class="slide_text">Donation </div>
	<div class="slide_text">Add Feature</div>
	<button>Donate</button>
	</div>
	<div class="slide">
	<div class="slide_text">Minor Sponsor</div>
	<div class="slide_text">500$ <br />per month</div>
	<div class="slide_text">Hire Part Time Developer</div>
	<button>Start</button>
	</div>
	  <div class="slide">
	<div class="slide_text">Minor Sponsor</div>
	<div class="slide_text">2000$ <br />per month</div>
	<div class="slide_text">Hire Full Time Developer</div>
	<button>Start</button>
	</div>
	<div class="slide">
	<div class="slide_text">Partner</div>
	<div class="slide_text">Donation </div>
	<div class="slide_text">Add Feature</div>
	<button>Donate</button>
	</div>
</div>
</div>
</div>

<div class="container">
    <form class="meeting">
        <label for="name">Your name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="number">Your number:</label><br>
        <input type="number" id="number" name="number"><br><br>
        <label for="email">Your email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>
        <button type="submit" value="Submit">Submit</button>
      </form>
    </div>
</section>
<!-- 
<section class="cta">
	<div class="cta__container">
		<h2 class="cta__title">
			{{{translate("Template.Upgrade your business with Wawify")}}}
		</h2>

		<p class="cta__text">
			{{{translate("Template.Try on a website template that you like for your store")}}}
		</p>

		<a href="/manage/profile" class="cta__link">{{{translate("Template.Try on")}}}</a>
	</div>
</section> -->
<script>
	// JavaScript для руху слайдера
	let slider = document.querySelector('.slider-content');
	let slides = document.querySelectorAll('.slide');
	let slideWidth = slides[0].offsetWidth;
	let counter = 0;

	function moveSlide() {
	  counter++;
	  if (counter === slides.length) {
		counter = 0;
	  }
	  let offset = -slideWidth * counter;
	  slider.style.transform = `translateX(${offset}px)`;
	}

	setInterval(moveSlide, 2000); // Час між перемиканням слайдів (в мілісекундах)
  </script>