
.pricing-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;
}

.pricing-container h1 {
  text-align: center;
  color: var(--tertiary-color);
  font-size: 28px;
  font-weight: 800;
  padding: 20px;
}

.orange-block {
  background-color:var(--tertiary-color);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.plan {
  flex: 1;
  margin: 10px;
}

.plan h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
}

.plan p {
  margin: 0;
  font-size: 22px;
  margin-bottom: 10px;
  color: #fff;
}

.plan button {
  background-color: #fff;
  color: #e44d26;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {
  .orange-block {
    flex-direction: column;
  }

  .plan {
    width: 100%;
  }
}