.pricing_container{
    width: 100%;
}
.pricing_container h1{
    text-align: center;
    color: var(--secondary-color);
    font-size: 24px;
    padding: 10px;
}
table {
    border-collapse: collapse;
  }
  
  .pricing_container th, td {
    padding: 10px;
  }
  
  .pricing_container th {
    background-color: var(--tertiary-color);
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    padding-top: 15px;
  }
  
  .pricing_container td {
    text-align: center;
    text-align: left;
  }
  
  .pricing_container a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  .pricing_container p{
    color: rgb(236, 236, 236);
    font-size: 18px;
    padding-top: 10px;
  }