.pricing_container{
    width: 100%;
    font-size: 24px;;
}
.pricing_container img{
    width: 65px;
}
.pricing_container h1{
    text-align: center;
    color: var(--secondary-color);
    font-size: 32px;
    padding: 10px;
}
table {
    border-collapse: collapse;
  }
  
  .pricing_container th, td {
    padding: 10px;
  }
  .orange_block {
    background-color: var(--tertiary-color);
    border-radius: 20px;
    display: flex;
    justify-content: end;
    text-align: left;
    font-size: 28px;
    padding: 30px;
    gap: 55px;
  }
  
  
  .pricing_container td {
    text-align: center;
    text-align: left;
  }
  
  .pricing_container a {
    text-decoration: none;
    color: var(--secondary-color);
  }
  .pricing_container p{
    color: rgb(236, 236, 236);
    font-size: 20px;
    padding-top: 10px;
  }