.profile {
	padding: clamp(10.938rem, 9.915rem + 5.11vw, 13.75rem) 0 clamp(6.25rem, 5.114rem + 5.68vw, 9.375rem) 0;

	background-color: var(--secondary-color);

	border-bottom: 3px solid #434343;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 80px;

		max-width: 1200px;
	}

	&__main {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 40px;

		@media (max-width: 991px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__img {
		aspect-ratio: 1 / 1;

		width: 400px;
		min-width: 400px;
		max-width: 400px;
		max-height: 400px;

		@media (max-width: 991px) {
			min-width: 0;
			width: 100%;
		}

		img {
			width: 100%;
			height: 100%;

			object-fit: cover;
		}
	}

	&__text {
		width: 100%;
		max-width: 650px;
		background-color: #434343;
	}

	&__title {
		padding: 30px;
		border-bottom: 1px solid var(--tertiary-color);

		color: var(--primary-color);
		font-size: 40px;
		font-weight: 600;

		@media (max-width: 575px) {
			padding: 15px;
		}
	}

	&__desc {
		padding: 30px;

		color: #fff;
		font-family: "Lato", sans-serif;
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		@media (max-width: 575px) {
			padding: 15px;
		}
	}
}
.profile-contacts {
	align-self: start;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (max-width: 991px) {
		align-self: center;
		align-items: center;
	}

	&__title {
		color: var(--primary-color);
		font-size: 30px;
		font-weight: 600;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 20px;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 15px;

		color: var(--primary-color);
		font-size: 20px;
		font-weight: 600;

		svg {
			width: 35px;
			height: 35px;
		}
	}
}
