<section class="articles-page">
	<div class="articles-page__container">
		<div class="pricing-container">
			<h1>
				{{{translate("Template.Price List")}}}
			</h1>
			<table>
				<thead>
					<tr>
						<th></th>
						{% for plan in plans %}
						<th>
							<div class="plan">
								<h2>{{{plan.name}}}</h2>
								<p>${{{plan.price}}}</p>
								<button>Buy</button>
							</div>
						</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for feature in features %}
					<tr>
						<td style="text-align: left" title="{{{feature.description}}}">{{{feature.name}}}</td>
						{% for plan in plans %}
						{% if !feature.inPlan[plan._id] %}
						<td title="Feature is not included"><img src="/template/img/abolition.png" /></td>
						{% endif %}
						{% if feature.inPlan[plan._id] && feature.inDone[plan._id] %}
						<td title="Feature is included"><img src="/template/img/tick.png" /></td>
						{% endif %}
						{% if feature.inPlan[plan._id] && !feature.inDone[plan._id] %}
						<td title="Feature is included, but not yet made"><img src="/template/img/tickdark.png" /></td>
						{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>
