<section class="articles-page">
    <div class="articles-page__container">
        <div class="pricing-container">
            <h1>
                {{{translate("Template.Plans and Features")}}}
            </h1>
            <p>{{{translate("Template.Explore various pricing options tailored to your needs. Whether you're using the online menu, engaging with customers through social networks, managing a business website, communicating with clients, or your clients would be using orders and processing secure payments, we have a solution for you.")}}}</p>
            <p>{{{translate("Template.Choose a plan that suits your requirements or enhance your solution by purchasing individual features at any time. You don't have to buy the entire plan if you only need specific features. Start optimizing your operations today!")}}}</p>
            <table>
                <thead>
                    <tr>
                        <th>
                            <label for="billing-frequency">Billing Frequency:</label>
                            <select id="billing-frequency">
                                <option value="monthly">Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </th>
                        {% for plan in plans %}
                        <th>
                            <div class="plan" id="plan-{{ plan._id }}">
                                <h2>{{{plan.name}}}</h2>
                                <p class="monthly-price">{{{plan.price}}}</p>
                                <p class="yearly-price">{{{plan.yearPrice}}}</p>
                                <button>Buy</button>
                            </div>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for feature in features %}
					<tr>
						<td style="text-align: left" title="{{{feature.description}}}" class="plan" id="plan-{{ plan._id }}">
							{% if feature.url %}
							<a href="{{{feature.url}}}" target="_self">{{{feature.name}}}</a>
							{% endif %}
							{% if !feature.url %}
							<span>{{{feature.name}}}</span>
							{% endif %}
							<span style="float: right;margin: 0; font-size: 20px; color: gray; font-weight: bold;" class="monthly-price">{{{feature.price}}}</span>
							<span style="float: right;margin: 0; font-size: 20px; color: gray; font-weight: bold;" class="yearly-price">{{{feature.yearPrice}}}</span>
						</td>
						{% for plan in plans %}
						{% if !feature.inPlan[plan._id] %}
						<td title="Feature is not included"><img src="/template/img/abolition.png" /></td>
						{% endif %}
						{% if feature.inPlan[plan._id] && feature.inDone[plan._id] %}
						<td title="Feature is included"><img src="/template/img/tick.png" /></td>
						{% endif %}
						{% if feature.inPlan[plan._id] && !feature.inDone[plan._id] %}
						<td title="Feature is included, but not yet made"><img src="/template/img/tickdark.png" /></td>
						{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>


<script>
    const billingFrequencySelect = document.getElementById('billing-frequency');
    const plans = document.querySelectorAll('.plan');

    billingFrequencySelect.addEventListener('change', function () {
        const selectedFrequency = billingFrequencySelect.value;
        const priceClassToShow = selectedFrequency === 'monthly' ? 'monthly-price' : 'yearly-price';
        const priceClassToHide = selectedFrequency === 'monthly' ? 'yearly-price' : 'monthly-price';

        plans.forEach(plan => {
            const priceToShow = plan.querySelector(`.${priceClassToShow}`);
            const priceToHide = plan.querySelector(`.${priceClassToHide}`);

            priceToShow.classList.add('show');
            priceToHide.classList.remove('show');
        });
    });
</script>